.Login {
    margin: 150px auto;
    width: 50%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border:1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}
.Login input{
    width: 80%;
}
.Login p{
    padding-right:20px; 
}
@media(max-width: 600px){
    .Login{
        width: 500px;
    }
}